<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>

    <!-- bootstarp CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/8064f71e7b.js" crossorigin="anonymous"></script>
</head>
<body class="vh-100">
  
  <!-- Navbar -->
  <nav class="navbar bg-info-subtle">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="#">
            <i class="fa-solid fa-scale-balanced"></i>
          BMI Calculator
        </a>
      </div>
    </nav>
  
      <!-- Calculator -->
    <div class="container-fluid d-flex justify-content-center align-items-center">

      <div class="container mt-5 mb-5 w-25 bg-info-subtle p-3 border rounded-5">
        <h2 class="text-center">BMI Calculator</h1>
        <form action="/" method="post" class="">

        <!-- age -->
        <div class="input-group mb-3 mt-4">
            <input placeholder="Age" type="number" name="age" required class="form-control">
          </div>

        <!-- gender -->
        <div class="input-group mb-3 mt-4">
            <div class="form-group ms-1">
              <select name="gender" id="gender" class="form-control" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>

          <!-- weight -->
          <div class="input-group mb-3 mt-4">
            <input placeholder="Weight" type="number" name="weight" required class="form-control">
            <div class="form-group ms-1">
              <select name="weightType" id="weightType" class="form-control" required>
                <option value="Kgs">Kilograms</option>
                <option value="Pounds">Pounds</option>
              </select>
            </div>
          </div>

          <!-- height -->
          <div class="input-group mb-3">
            <input placeholder="Height" type="number" step="any" name="height" required class="form-control">
            <div class="form-group ms-1">
              <select name="heightType" id="heightType" class="form-control" required>
                <option value="Meters">Meters</option>
                <option value="Inches">Inches</option>
                <option value="Feet">Feet</option>
              </select>
            </div>
          </div>

          <!-- submit -->
          <div>
            <button class="btn btn-danger" type="submit" name="submit">Calculate BMI</button>
          </div>

        </form>

        <!-- result -->
        <div class="container mt-5">
            <div class="d-flex justify-content-center align-content-center">
                <h3 id="result">BMI: <%= result %></h3>
            </div>
        </div>
        

      
      </div>
  </div>
  
  <!-- footer -->
  <footer class="bg-info-subtle text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © Nur-Asyl Kanagatov SE-2207
    </div>
  </footer>
  
</body>


</html>